<section class="page-about">
    <div class="about-container">
        <div class="about-wrap">
            <h2 class="about-title">Hot coffee from the heart Africa</h2>
            <p class="about-text">The significance of these problems is so obvious
                that the continued quantitative growth and scope of our of activity allows us to appreciate the
                importance
                of the development model
                of development.</p>

            <div class="about-link-wrap">
                <a class="about-link-1 link" href="">Menu</a>
                <a class="about-link-2 link" href="">
                    <span class="about-icon-wrap">
                        <svg class="about-icon" width="16" height="16">
                            <use href="./images/sprite.svg#icon-compass"></use>
                        </svg> Our addresses
                    </span>
                </a>
            </div>
        </div>
        <div class="about-image-wrap">
            <img class="about-image" src="./images/about.jpg" alt="Coffee" width="273" height="253">
            <svg class="about1" width="76" height="76">
                <use href="./images/sprite.svg#about1"></use>
            </svg>
            <svg class="about2" width="161" height="161">
                <use href="./images/sprite.svg#about2"></use>
            </svg>
        </div>
    </div>
</section>