<section class="page-about">
    <div class="about-container">
        <div class="about-wrap">
            <h2 class="about-title">Hot coffee from the heart Africa</h2>
            <p class="about-text">The significance of these problems is so obvious
                that the continued quantitative growth and scope of our of activity allows us to appreciate the
                importance
                of the development model
                of development.</p>

            <div class="about-link-wrap">
                <a class="about-link-1 link" href="">Menu</a>
                <a class="about-link-2 link" href="">
                    <svg width="16" height="16">
                        <use href="./images/sprite.svg#icon-compass"></use>
                    </svg> Our addresses</a>
            </div>
        </div>
        <img class="about-image" src="./images/about.jpg" alt="Coffee" width="496" height="460">
    </div>
</section>