<header class="header-page">
    <div class="container header-wrap">
        <div class="header-list-wrap">
            <a class="link" href="./index.html">
                <svg class="logo" width="112" height="39">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="list header-list">
                <li><a class="link header-link" href="">Menu</a></li>
                <li><a class="link header-link" href="">Company</a></li>
                <li><a class="link header-link" href="">Contacts</a></li>
            </ul>
        </div>
        <div class="header-icon-wrap">
            <a href="">
                <svg class="icon-order" width="20.5" height="21">
                    <use href="./images/sprite.svg#icon-order"></use>
                </svg>
            </a>
            <svg class="icon-burger" width="24" height="18">
                <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
        </div>

    </div>
</header>