<header class="header-page">
    <div class="container">
        <div class="header-wrap">
            <div class="header-list-wrap">
                <a class="link" href="./index.html">
                    <svg width="112" height="39">
                        <use href="./images/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
                <ul class="list header-list">
                    <li><a class="link header-link" href="">Menu</a></li>
                    <li><a class="link header-link" href="">Company</a></li>
                    <li><a class="link header-link" href="">Contacts</a></li>
                </ul>
            </div>
            <a href="">
                <svg class="icon-order" width="20.5" height="21">
                    <use href="./images/sprite.svg#icon-order"></use>
                </svg>
            </a>
        </div>
    </div>
</header>