<section class="info-page">
    <div class="container">
        <div class="info-wrap">
            <h3 class="info-title">We have a menu for ordering online</h3>
            <p class="info-text">Unfortunately, delivery is only available in Cologne</p>
            <a class="link info-link" href="">Take a look</a>
            <svg class="info-woman" width="260" height="177">
                <use href="./images/sprite.svg#icon-woman"></use>
            </svg>
            <svg class="cloud-l-b" width="126" height="30">
                <use href="./images/sprite.svg#cloud-l-b"></use>
            </svg>
            <svg class="cloud-l-sm" width="52" height="11">
                <use href="./images/sprite.svg#cloud-l-sm"></use>
            </svg>
            <svg class="info-grass" width="202" height="175">
                <use href="./images/sprite.svg#icon-grass"></use>
            </svg>
        </div>
    </div>
</section>