.hero-page {
    width: 1366px;
    height: 640px;
    background-image: url(../images/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

@media screen and (min-width: 1367px) {
    .hero-page {
        width: auto;
        max-width: none;
    }
}
