@import url('../fonts/noah.css');

body {
    font-family: 'Roboto', 'Noah', sans-serif;
    color:var(--Main-text);
    background-color: #FFFFFF;
}

input {
    font-family: inherit;
    outline: transparent;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

* {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

.container {
    width: 362px;
    padding: 0 21px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding: 0 49px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding: 0 76px;
    }
}